@import 'mobile';

$primary-color: rgb(255, 255, 255);
$secondary-color: #000000;
$button-color: rgb(66, 4, 4);
$show-home-image: true;
// $home-image: url(./img/background.jpeg);

html{
  font-size: 10px;
  li{
    list-style: none;
  }
}
*{
  box-sizing: border-box;
  font-family: monospace;
}
@mixin easeOut {
  transition: all 0.5s ease-out;
  position: absolute;
  font-size: 30px;
  width: 100%;
  margin-top: 10rem;
}

@mixin divCenter {
  margin: 0 auto;
  width: 70%;
  padding: 10px;
}

body{
  height: 100%;
}

//Set Text Color
@function set-text-color($color){
  @if(lightness($color)> 80){
      @return rgb(255, 255, 255);
  }@else{
      @return rgb(2, 2, 2);
  }
}

a{
  color: $secondary-color;
  text-decoration: none;
}

.header{
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  background: $primary-color;
  display: inline-flex;

  .wraper{
    margin-left: 15rem;
    margin-right: 15rem;
    width: 100%;
    .logo{
      width: 8rem;
      height: 8rem;
      float: left;
      text-align: center;
      display: block;
    }
      img{
        max-width: 100%;
        height: 8rem;
      }

    

    .links{
      width: auto;
      float: right;
      display: flex;
      align-items: center;
      text-align: center;
      height: 8rem;
      li{
        list-style: none;
        display: inline;
        margin-left: 10px;
        font-size: 20px;
        a{
        color: set-text-color($secondary-color);
        border-bottom: 4px solid #420404;


        &:hover{
          color: rgb(2, 179, 233);
          text-decoration: none;
        }
        }
      }
    }
  }
}

.footer{
  margin-top: 3rem;
  height: 5em;
  bottom: 0;
  position: fixed;
  background: $primary-color;
  width: 100%;
  display: flex;
  justify-content: center;
  .fab:nth-child(1){
    margin-right: 10px;
  }
  span{
    color: set-text-color($secondary-color);
    font-size: 20px;


    &:hover{
      color: rgb(74, 160, 117);
      text-decoration: none;
    }
  }
}
.projects{
  @include easeOut();
  margin-bottom: 10rem;

  .works{
    @include divCenter();
    display: block;
    flex-wrap: wrap;

    div{
      margin: 10px 0 10px 0;
    }
    .rows{
      display: -webkit-inline-box;
      flex-wrap: wrap;
      margin-right: -15px;
      margin-left: -15px;

      .cards{
        display: flex;
        width: 220px;
        background: #000000;
        color: white;
        border-radius: 10px;
        flex-wrap: wrap;
        padding: 5px;
        position: relative;
        margin-left: 10px;
        flex-direction: column;
        border: 1px solid rgba(0, 0, 0, 0.125);
        font-size: medium;
        font-weight: 500;
        cursor: pointer;
        transition: 0.4s;
        box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25),
         -5px -5px 30px 7px rgba(0,0,0,0.22);

        &hover {
          transform: scale(0.9, 0.9);
          box-shadow: 5px 5px 30px 15px rgba(202, 32, 9, 0.808), 
            -5px -5px 30px 15px rgb(255, 0, 0);
        }

        
        a{
          color: $primary-color;

          &:hover{
            color: rgb(69, 186, 221);
            text-decoration: none;
          }
        }

        img{
          width: 100%;
          border-radius: 10px;
          height: 300px;
        }
      }
      .sm-cards{
        background: white;
        display: flex;
        flex-wrap: wrap;
        width: 220px;
        color: #000000;
        border-radius: 10px;
        padding: 4px;
        text-align: left;
        position: relative;
        margin-left: 10px;
        flex-direction: column;
        border: 1px solid #5f40cf;
        font-size: 15px;
        font-weight: 600;
        cursor: pointer;
        transition: 0.4s;
        box-shadow: 5px 5px 30px 7px rgba(0, 0, 0, 0.25),
         -5px -5px 30px 7px rgba(0, 0, 0, 0.22);

         &:hover{
          color: rgba(32, 51, 29, 0.63);
          font-weight: bolder;
        }
        li{
          a{
            color: darken($color: #225dfd, $amount: 0);
          }
        }
      }

      
    }
  }
}

.home{
  @include easeOut();
  
  .info{
   
    .text{
      font-family: monospace;
      margin: 0 auto;
      width:41rem;
      text-align: center;
      margin: auto;
    }
  }
}
.text-secondary{
  color: $secondary-color;
}






//media Query Mixins
@media screen and (min-width: 768px) and (max-width: 812px) {
  @include mediaXL();
}

@media screen and (min-width: 501px) and (max-width: 767px) {
  @include mediaLg();
}

@media screen and (min-width: 377px) and (max-width: 500px) {
  @include mediaMd();
}

@media screen and (max-width: 376px) {
  @include mediaSm();
}